.DS_Store
Unity/Library/*
Unity/Temp
!AudioManager.asset
!DynamicsManager.asset
!EditorBuildSettings.asset
!InputManager.asset
!NetworkManager.asset
!ProjectSettings.asset
!QualitySettings.asset
!TagManager.asset
!TimeManager.asset
